* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16, 66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

header {
    height: 100px;
    background: rgb(209, 129, 255);
}


/* .container {
    margin-left: -10px;
    margin-right: -10px;
} */

.container::after {
    content: "";
    display: block;
    clear: both;
}

.left,
.main,
.right {
    float: left;
    width: 100%;
}

.col-6,
.col-3 {
    float: left;
    padding: 10px;
}

.left {
    background: lemonchiffon;
}

.main {
    background: lightblue;
}

.right {
    background: lightgreen;
}

footer {
    background: lightgrey;
    height: 100px;
    float: left;
}

a {
    text-decoration: none;
}

.left ul {
    list-style: none;
}

.left li {
    padding: 10px;
    background: lightgray;
    margin-bottom: 10px;
}