* {
    margin: 0px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header,
#content,
#footer {
    width: 95%;
    height: 200px;
    min-height: 100px;
    background-color: rgb(31, 170, 221);
    margin: auto;
    box-sizing: border-box;
}

#header {
    margin-top: 20px;
    margin-bottom: 10px;
}

#content {
    margin-bottom: 10px;
}

#footer {
    margin-bottom: 20px;
    margin-top: 10px;
}

.all {
    border: 2px solid black;
    width: 960px;
    margin: auto;
}

h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    padding: 65px;
    color: white;
}