table.main {
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    align-items: center;
    border-spacing: 30px;
}

.frames {
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    display: inline-block;
    width: 150px;
    height: 35px;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}