    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .body {
        font-size: 12px;
        line-height: 25px;
    }
    
    .wapper {
        width: 960px;
        margin: auto;
        height: 100%;
        margin: 0 auto;
    }
    
    .header {
        height: 181px;
        color: #fff;
        background: url(imgs/header.jpg) repeat-x;
    }
    
    .center {
        height: 100%;
        min-height: 500px;
        background-image: linear-gradient(#979797, #FFFFFF);
        padding: 20px;
    }
    
    .footer {
        float: left;
        width: 100%;
        height: 65px;
        background: url(imgs/footer.jpg);
        color: #fff;
    }
    
    h1 {
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        float: left;
        margin-top: 21px;
    }
    
    .menu {
        margin-top: 50px;
        width: 960px;
        height: 50px;
        float: left;
    }
    
    .menu li {
        float: left;
        width: 100px;
        height: 50px;
        background: #FFFFFF;
        margin-right: 5px;
        bottom: 0;
    }
    
    .menu ul a {
        color: black;
        text-align: center;
        line-height: 50px;
        width: 100px;
        font-size: 15px;
        display: block;
    }
    
    .menu span {
        line-height: 50px;
        float: right;
        /* display: block; */
    }
    
    ul {
        list-style: none;
    }
    /* .content {
        width: 960px;
        height: 100%;
        background: #FFFFFF;
        margin: auto;
    } */
    /* .content*/
    
    .center .wapper {
        padding: 20px 0px;
        height: 1200px;
        /* min-height: 500px; */
        background: #FFFFFF;
        width: 960px;
        margin: auto;
    }
    /* center-left */
    
    p {
        margin: 20px 0;
        text-align: justify;
        font-size: 12px;
    }
    
    .left {
        float: left;
        width: 620px;
        padding: 20px 20px;
    }
    
    .gr {
        background: #e4ffe0;
        border-color: #bfe6b9;
        color: #1d6b17;
    }
    
    .red {
        background: #ffe3e7;
        border-color: #d6a6b4;
        color: #96433b;
    }
    
    .mess {
        padding: 5px 10px;
        border: 1px solid;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .mess img {
        top: 2px
    }
    
    .right_img {
        float: right;
    }
    
    fieldset {
        border: none;
    }
    
    form h3 {
        color: #666;
        margin: 10px 0px;
    }
    
    input {
        margin-left: 5px;
        padding: 5px;
    }
    
    #small,
    #large,
    #opt {
        padding: 5px;
        background: #f7f2f6;
        border: 1px solid #ccc;
    }
    
    #large {
        width: 60%;
    }
    
    table {
        width: 580px;
        border: 1px solid #ccc;
        height: 165px;
        border-collapse: collapse;
    }
    
    a {
        text-decoration: none;
        color: #293CF4;
    }
    
    td,
    th {
        border: 1px solid #666666;
    }
    
    #d1 {
        background-color: #DEEBFE;
        text-indent: initial;
    }
    
    #d3 {
        background-color: #E7DDEB;
    }
    
    td {
        text-align: left;
        padding: 7px 10px;
    }
    /* center-right */
    
    .center .wapper .right {
        padding: 20px;
        width: 220px;
        float: right;
    }