* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    background: rgb(116, 208, 24);
    width: 90px;
    height: 100%;
    position: relative;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 10px;
}

li {
    list-style: none;
}

#menu>ul>li {
    width: 100%;
    line-height: 40px;
    position: relative;
}

#menu ul li ul {
    width: 100px;
    /* height: 40px; */
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: greenyellow;
}

#menu ul li:hover {
    background: grey;
}

#menu ul li:hover .c1 {
    color: black;
}

#menu li:hover ul {
    display: block;
    padding: 0;
}

#menu ul li ul li:hover .c2 {
    color: black;
}

#menu ul li ul li:hover {
    background: grey;
}