* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-image: linear-gradient(180deg, rgba(127, 111, 80, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    /* background-image: -moz-linear-gradient(180deg, rgba(127, 111, 80, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(180deg, rgba(127, 111, 80, 1), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(180deg, rgba(127, 111, 80, 1), rgba(255, 255, 255, 0)); */
}

#main {
    width: 960px;
    margin: auto;
    min-height: 300px;
    background: #f4f4f0;
    box-shadow: 0 0 20px #666;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 300px;
    position: relative;
}

header h1,
#slide,
nav {
    position: absolute;
    top: 0;
}

header h1 {
    background: url(./imgs/logo.png) no-repeat center 10px, #db6516;
    text-align: center;
    width: 340px;
    height: 120px;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    left: 10px;
}

header h1 a {
    width: 310px;
    height: 44px;
    font-size: 39px;
    color: #fff;
    top: 55px;
    line-height: 160px;
}

nav {
    width: 230px;
    height: 300px;
    background: #db6516;
    right: 0;
}

nav a {
    text-align: center;
    display: block;
    font-size: 15px;
    line-height: 40px;
    color: #fff;
    border-bottom: 1px solid #95450f;
}

nav a:last-child {
    height: 100px;
    border-bottom: none;
}

nav a:hover {
    background: #95450f;
}

#heading {
    width: 960px;
    height: 225px;
    position: absolute;
    top: 250px;
    background: url(./imgs/heading.png) repeat-x center top;
}

#heading aside {
    height: 125px;
    position: absolute;
    top: 85px;
    background: #e1c78c;
}

#heading div {
    float: left;
    width: 220px;
    height: 125px;
    padding: 0 20px 20px;
    margin: 0 10px;
    background: #e8d3a5;
}

#heading div a {
    font-size: 18px;
    color: #DB6516;
    text-shadow: 1px 1px 2px #999;
    cursor: pointer;
    font-weight: 300;
}

#heading div>p {
    width: 189px;
    height: 80px;
    display: block;
    line-height: 1;
    font-size: 12px;
}

#content {
    width: 960px;
    height: 520px;
    margin-top: 160px;
    background: linear-gradient(top, #e7e5de, #fff);
    background: -webkit-linear-gradient(top, #e7e5de, #fff);
    padding: 10px;
    margin-bottom: 100px;
}

#content section {
    min-height: 500px;
}

#content #video {
    padding: 10px;
    float: left;
    width: 340px;
    background: linear-gradient(top, #f4f3ef, #cec8bc);
    background: -webkit-linear-gradient(top, #f4f3ef, #cec8bc) no-repeat;
}

#video video {
    width: 320px;
    height: 180px;
}

#content #news {
    width: 600px;
    padding: 20px 40px 20px 60px;
    float: left;
}

#news #articles {
    margin: 40px 0;
}

#articles img {
    width: 130px;
    height: 87px;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px #666
}

footer {
    background: url(./imgs/footer.png) center bottom;
    background-repeat: no-repeat;
    bottom: 0;
    width: 100%;
    height: 315px;
    position: fixed;
}

footer .wapper {
    width: 960px;
    height: 100%;
    margin: 250px auto;
}

.wapper form {
    float: left;
}

form input {
    float: left;
    height: 30px;
    padding: 0 20px;
    border: #EDA011 solid 1px;
}

form input[type=text] {
    border-radius: 20px 0 0 20px;
    border-right: none;
}

form input[type=submit] {
    border-radius: 0 20px 20px 0;
    border-left: none;
    color: #fff;
    background: #db6516;
    cursor: pointer;
}

.wapper span {
    float: right;
    color: #fff;
    width: 230px;
    height: 14px;
    font-size: 13px;
    padding-left: 27px;
}